.App {
  font-family: Arial, sans-serif;
  padding: 20px;
  background-color: rgb(196, 138, 62);
  max-width: 1000px; /* Limit the width for better readability */
  padding-top: 100px;
  margin: auto; /* Center the app */
  border-radius: 8px;
  text-align: center; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

input {
  margin: 5px;
  padding: 10px; 
  border: 1px solid #ccc;
  border-radius: 4px; 
}
li{
  list-style: none;
}
button {
  margin: 5px;
  padding: 10px 15px; 
  border: none; 
  border-radius: 4px; 
  background-color: #007bff; 
  color: white;
  cursor: pointer; 
  transition: background-color 0.3s; 
}

button:hover {
  background-color: #0056b3; 
}

.completed {
  text-decoration: line-through;
  color: gray; /* Change color for completed tasks */

}
.yes{
  background-color: red; /* Change Button color for completed tasks */
}